@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    position: relative;
    background: rgba(26, 44, 61, 0.808);
    color: aliceblue;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar{
    display: flex;
    background: rgb(223, 209, 209);
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 0 10vw;
    align-items: center;
    z-index: 9;
}

.logo{
    text-transform: capitalize;
    font-weight: 500;
    color: black;
    font-family: 'Montserrat', sans-serif;;
}

.links-container{
    display: flex;
    list-style: none;
}

.link{
    text-transform: capitalize;
    color: rgb(8, 6, 6);
    text-decoration: none;
    margin: 0 10px;
    padding: 10px;
    position: relative;
    font-weight: 700;
}

.link:hover:not(.active){
    opacity: 0.7;
    border-bottom: 2px solid #fa6204;
}

/*about header*/
.about-header{
    background-image: url('assets/aboutus.jpg');
	background-position: center;
	background-size: cover;

    width: 100%;
    min-height: calc(50vh - 60px);
    height: auto;
    margin-top: 40px;
    padding: 0 10vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.hero-content{
    width: 35%;
}

.hero-heading{
    font-size: 5rem;
    text-transform: capitalize;
    font-weight: 500;
    color: black;
    opacity: 0.8;
}
.info{
    text-indent: 7%;
    color: black;
    opacity: 0.7;
    font-weight: 600;
}

/*about content*/
.about{
    width: 100%;
    height: auto;
    padding: 50px 10vw;
}

.heading{
    text-align: center;
    font-weight: 500;
    font-size: 3.5rem;
    text-transform: capitalize;
}

.sub-heading{
    text-align: center;
    font-size: 1rem;
    margin: 10px;
    opacity: 0.7;
}
.about-me-container{
    margin: 150px 0 100px;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 50px;
}

.left-col, .right-col{
    position: relative;
}

.about-image{
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}

.about-para{
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 35px;
    margin-bottom: 40px;
}

/*footer*/

.footer{
	background-color: #0b132e;
    padding: 35px;
}

.footer-container{
	max-width: 1170px;
	margin-left: 30%;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}

.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .socmed a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #be8484;
	transition: all 0.5s ease;
}
.footer-col .socmed a:hover{
	color: #24262b;
	background-color: #ffffff;
}

.nonheader{
    opacity: 0;
}